@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Mooli&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #bbf4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#interface{
    background-color: #FFF;
    max-width: 980px;
    margin: 0 auto;
}

.topo{
    height: 320px;  
}

.logo{
    top: 20px;
    left: 30px;
    position: relative;
}

.menu{
    display: block;
}

.menu ul{
    list-style: none;
    position: relative;
    left: 700px;
    }

.menu li{
    display: inline-block;
    background-color: #f7941d;
    padding: 5px 10px;
    margin: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 1s;
    border-radius: 10px;
}

.menu a{
    color: #FFF;
    text-decoration: none;
}

.menu li:hover{
    background-color: #004c94;
}

/* .banner{
    position: relative;
    top: 60px
} */

.principal{
    display: block;
    width: 620px;
    float: left;
    border-right: 1px solid #004c94;
    padding: 5px 20px;
}

.lateral{
    display: block;
    width: 300px;
    float: right;
    padding: 5px ;
}

.rodape{
    clear: both;
    border-top: 1px solid #004c94;
    
}

.rodape p{
    text-align: center;
}

.rodape a{
    color: #f7941d;
    font-weight: bold;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px; 
    color: #004c94;
    font-weight: 700;
    text-align: center;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    color: #f7941d;
    font-weight: 700;
    text-align: center;
}

p{
   margin: 10px 0px;
}

span{
    color:#004c94;
    font-weight: bold;
}

ul, ol{
    margin-left: 20px;
}

.filme video{
    width: 280px;
    height: 150px;
    padding: 10px;
}

form{
    width: 900px;
    margin: auto;
    position: relative;
}
legend{
    color:#004c94;
    font-weight: bold;
    font-size: 1.2em;
}
fieldset{
    border: 2px solid #004c94;
    margin: 20px;
    padding: 20px;
}
fieldset#sexo{
    width: 150px;    
}
#usuario{
    background:url("img/icontato.png") no-repeat 95% 95%;
}
#endereco{
    background:url("img/icone-endereco.png") no-repeat 95% 95%;
}
#mensagem{
    background:url("img/icone-mensagem.png") no-repeat 95% 95%;
}
input, textarea{
    background-color: #bbf4f4;
    padding: 3px;
    border-radius: 5px;
}